@import '../../partials/fonts';

.slide {
    width: 100%;
    display: flex;
    flex-direction: column;

    &__title {
        font-size: 2rem;
        font-family: 'Modelica';
        color: white;
        margin-bottom: 1rem;
    }

    &__row {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
}