@import '../../partials/fonts';

* {
    margin: 0;
}

.home {
    height: 100vh;
    width: 100vw;

    &__container {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__title {
        color: white;
        line-height: 13rem;
        font-size: 15rem;
        font-family: "Marino";
        font-weight: normal;
    }

    &__scroll {
        transform: skewY(0deg);
        opacity: 1;
    }

    &__sub {
        font-family: "arizona";
        font-size: 4rem;
        color: white;
    }
}