@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@700&display=swap');

@font-face {
    font-family: "Inter";
    src: url('../assets/Inter/Inter-Bold-slnt=0.ttf');
    font-weight: 800;
}

@font-face {
    font-family: "Inter";
    src: url('../assets/Inter/Inter-Regular-slnt=0.ttf');
    font-weight: normal;
}

@font-face {
    font-family: "Inter";
    src: url('../assets/Inter/Inter-SemiBold-slnt=0.ttf');
    font-weight: 600;
}

@font-face {
    src: url('../Magehand.ttf');
    font-family: "magehand";
}

@font-face {
    src: url('../ArizonaBold.ttf');
    font-family: "arizona";
}

@font-face {
    src: url('../Davidas.otf');
    font-family: "davidas";
    font-weight: normal;
}


@font-face {
    font-family: "Marino";
    src: url('../assets/Marino/San\ Marino.ttf');
}

@font-face {
    font-family: "Anzil";
    src: url('../assets/Anzil/Anzil-Regular.ttf');
}

@font-face {
    font-family: "Modelica";
    src: url('../assets/Modelica/woff/BwModelicaSS01-Bold.woff');
}

@font-face {
    font-family: "Zyain";
    src: url('../assets/Zyain.ttf');
}


