* {
    box-sizing: border-box;
}

.mode {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.4);
    display: flex;
    justify-content: center;
    align-items: center;

    &__area {
        width: 90%;
        height: 90%;
        background-color: #0b101b;
        border-radius: 5px;
        padding: 2rem;
    }

    &__vid {
        width: 100%;
    }
}